/* common */
* {
    box-sizing: border-box;
}

.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 1em;
    color: blue;
}

#palindrome {
    height: 30vh;
}

#word-output,
#number-output {
    margin-top: .5em;
    font-weight: bold;
}

#number-input-container {
    margin-top: .5em;
}

.display-none {    
    display: none;
}