/* common */
* {
    box-sizing: border-box;
}

#word-title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 1em;
    color: blue;
}

#word-output {
    margin-top: .5em;
    font-weight: bold;
}
